

/* Partner page */

#partner-ls {
	padding: 90px 0 100px;
	background: #ffffff;
}

.icon-ls-box {
	margin: auto;
	max-width: 880px;
}

.partner-ls {
	display: inline-block;
	margin: 0 40px;
	padding: 30px;
	width: 150px;
	vertical-align: top;
}

.partner-ls img {
	width: 150px;
}

.partner-ls p {
	text-align: center;
	margin-top: 20px;
}



