#services {
	padding: 60px 0 70px;
	background: #ffffff;
	border-bottom: #f5f5f5 solid 2px;
}

#services .circle_btn {
	width: 150px;
	height: 150px;
	border: none;
	border-radius: 75px;
	background: #ffffff;
	box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.2);
}

#services .circle_btn:hover {
	/* background: #eef7ff; */
	background: #fbfdff;
}

.ser_btn {
	display: inline-block;
	width: 218px;
	text-align: center;
	padding: 0;
	background: none;
	margin: 20px 70px;
	white-space: normal;
	opacity: 1;
	border: 0;
	font-size: 100%;
	font: inherit;
}

.ser_btn a {
	text-decoration: none;
	color: #4e4e4e;
}

.ser_btn h3 {
	font-weight: 400;
}

#bgd {
	padding: 60px 0 70px;
	background-color: #f5f5f5;
}

.bgd_exp {
	display: inline-block;
	width: 218px;
	text-align: center;
	padding: 0;
	margin: 20px 70px;
	border: 0;
	font-size: 100%;
	font: inherit;
}


/* Partner page */

#partner-ls {
	padding: 90px 0 100px;
	background: #ffffff;
}

.icon-ls-box {
	margin: auto;
	max-width: 880px;
}

.partner-ls {
	display: inline-block;
	margin: 0 40px;
	padding: 30px;
	width: 150px;
	vertical-align: top;
}

.partner-ls img {
	width: 150px;
}

.partner-ls p {
	text-align: center;
	margin-top: 20px;
}



