.table-tittle {
	background: #6c7278;
	height: 4em;
	font-size: 1.17em;
}

.table-subtitle {
	background: rgb(229, 235, 241);
}

.table-subtitle-shadow-none {
	background-color: rgb(217, 223, 229);
}

.app-feature {
	text-align: left;
}

.app-feature-point {
	text-align: left;
	font: 15px;
	color: #818181 !important;
}

.app-feature-point p {
	padding: 0px 0 0 10px;
}

/* bootstrap tab 样式 重置*/
link,
.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #6c7278;
	border: 0;
}


.nav {
	justify-content: center;

}

.mb-3 {
	margin-bottom: 0 !important;
}

.formsdata>nav {
	margin-bottom: 4rem;
}

.nav-link {
	display: block;
	padding: 0.5rem 2rem;
	color: #6c7278;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}
.nav-link:focus, .nav-link:hover {
    color: #494d51;
	background-color: #F5F5F5;
}

.nav-tabs .nav-link {
	margin-bottom: -1px;
	background: 0 0;
	border: 1px solid transparent;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-size: 1.7rem;
}


/* nav 临时样式 */

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	margin: 0;
}

.formsdata {
	width: 100% box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
	padding: 3em;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 624px) {
	.formsdata>nav {
		padding-bottom: 2rem;
		border-bottom: #dee2e6 1px solid;
		margin: 0;
	}
	.nav-tabs {
		border: 0;
	}

	.nav-tabs .nav-link {
		border-radius: 0rem;
		width: 100%;
	}
	#nav-home-tab {
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
	}
	#nav-profile-tab{
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	link,
	.nav-tabs .nav-link.active {
		color: #fff;
		background-color: #6c7278;
		border: 0;
	}

	.nav-link {
		display: block;
		padding: 0.5rem 2rem;
		color: #6c7278;
		text-decoration: none;
		border: #dee2e6 1px solid !important;
	}
}

@media screen and (max-width: 414px) {
	.formsdata {
		padding: 4rem 0.1em;
	}

}
