/* 通用 */
:root {
	--img-wedding-main: url(../img/infoPage.jpg);
	--img-SportGame-main: url(../img/pexels-pixabay-262524.jpg);
	--img-Conference-main: url(../img/pexels-luis-quintero-2774556.jpg);
	--img-HomeVisit-main: url(../img/pexels-rdne-stock-project-6647041.jpg);
	--img-StudentRegistration-main: url(../img/pexels-rdne-stock-project-8500309.jpg);
	--img-Babysitting-main: url(../img/Babysitting_1.jpg);
	--img-PerformanceReview-main: url(../img/PerformanceReview_1.jpg);
	--img-ClientsMeeting-main: url(../img/ClientsMeeting_1.jpg);
	--img-Interview-main: url(../img/Interviews_1.jpg);
	--img-MedicalAndPatient-main: url(../img/MedicalAndPatient_1.jpg);
	--img-StoreAppointment-main: url(../img/StoreAppointment_1.jpg);
	--img-PersonalTrainer-main: url(../img/PersonalTrainer_1.jpg);
	--img-RealEstate-main: url(../img/RealEstate_1.jpg);
	--img-TutoringScheduling-main: url(../img/TutoringScheduling_1.jpg);
	--img-AcademicAdvisorsAndTutors-main: url(../img/AcademicAdvisorsAndTutors_1.jpg);
	--img-GovernmentAgency-main: url(../img/GovernmentAgency_1.jpg);
	--img-EventCoordinationProtal-main: url(../img/EventPlanningAndCoordination_1.jpg);

	--color-imgbg-light: #00000030;
	--color-imgbg-dark: #00000080;
	
	--color-theme: #1AC3DE;
}

html body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	text-align: center;
}

a {
	text-decoration: none;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	/* justify-content: center; */
	align-items: center;
}

.ContentAreaContainer {
	
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	flex: 1;
}
.ContentArea {
	text-align: left;
	max-width: 1200px;
	margin: 3rem auto 0;
}


.floatBtnGroup {
	padding: 1.1rem;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;

}

.floatBtnGroupOnImg {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
	/* z-index: 10000; */
}

.floatBtnGroupOnColor {
	background: var(--color-theme);
	box-shadow: 0px 5px 15px #15a4ba1e;
	
}

.floatBtn {
	/* padding: 2erm; */
	border-radius: 10rem;
	margin-right: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;

}

.floatBtn svg {
	/* height: 2rem; */
	margin: 0.8rem;
}

.floatBtn:hover {
	background-color: #ffffff40;
}

.active {
	border: 1px #fff solid;
	background-color: #ffffff40;
}






/* bootstrap style Reset */

:root {
	--bs-border-color: #a3a5a7;
	--bs-primary:  var(--color-theme);
	--bs-btn-color:  var(--color-theme);
	--bs-btn-border-color:  var(--color-theme);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg:  var(--color-theme);
	--bs-btn-hover-border-color:  var(--color-theme);
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg:  var(--color-theme);
	--bs-btn-active-border-color:  var(--color-theme);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color:  var(--color-theme);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color:  var(--color-theme);
	--bs-gradient: none;
	--bs-accordion-active-bg: #cfffff !important;
}

.accordion-button:not(.collapsed) {
	color: #00000099;
	background-color: #c0ecec !important;
	box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.btn-outline-primary {
	--bs-btn-color:  var(--color-theme);
	--bs-btn-border-color:  var(--color-theme);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg:  var(--color-theme);
	--bs-btn-hover-border-color:  var(--color-theme);
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg:  var(--color-theme);
	--bs-btn-active-border-color:  var(--color-theme);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color:  var(--color-theme);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color:  var(--color-theme);
	--bs-gradient: none;
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg:  var(--color-theme);
	--bs-btn-border-color:  var(--color-theme);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #17b8d0;
	--bs-btn-hover-border-color: #17b8d0;
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #17b8d0;
	--bs-btn-active-border-color: #17b8d0;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg:  var(--color-theme);
	--bs-btn-disabled-border-color:  var(--color-theme);
}

.form-check-input:checked {
	background-color:  var(--color-theme) !important;
	border-color:  var(--color-theme) !important;
}

.custom-tooltip {
	--bs-tooltip-bg: var(--bs-primary);
}


.modal-body {
	padding: 0;
}

/* wedding page--------------------------------------------------------------------------------------------------------------------------------------------- */

/* info page */
.infoPage {
	background: url(../img/infoPage.jpg) center no-repeat;
	background-size: 100% auto;
	height: 100vh;
}

.InformationArea {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
	color: #fff;

}

.bottom {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 7rem 10rem;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}

.bottom p {
	margin: 0.5rem;
}

/* response page */
.responsePage {
	background: url(../img/responsePage.jpg) no-repeat center 37%;
	background-size: 100% auto;
	/* background-position: 20% 50%; */
}

#RecipientResponse {
	position: relative;
	top: 16rem;
	padding: 2rem;
	background: #997d2180;
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 1rem;
	color: #fff;
	/* text-align: left; */
	/* font-size: 2rem; */
	backdrop-filter: blur(20px);
}

#RecipientResponse>div {
	text-align: left;
}

#RecipientResponse>div>div {
	margin: 1.5rem 0;
}

.formTitle {
	font-size: 2rem;
	margin: 0 0 0.5rem;
	font-weight: 600;
}

hr {
	margin: 0.5rem 0;
}

.ResponseSection {
	margin-bottom: 1rem;
}
.ResponseSection p {
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.ResponseSection .table {
	border-color: #fff;
}
.ResponseSection .table p {
	margin: 0;
}
.Rdo-Cbx-Container {
	display: flex; 
	flex-flow: row wrap;
}
.form-check {
	margin-right: 1rem;
	
}
.sendBtn {
	background: #fff;
	border: 0;
	padding: 0.7rem 1.4rem;
	font-size: 1.2rem;
	border-radius: 0.2rem;
	margin-top: 1.5rem;
	text-decoration: none;
}

.sendBtn:hover {
	background: #f5f5f5;
}

.sendBtn:visited {
	color: black;
}


/* data page */
.dataPage,
.settingPage,
.historyPage {
	background: #288e9e30;
}

#dashboard1 {
	text-align: left;
}

.numBar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 0.8rem;
	max-width: 1140px;
	margin: 0 auto 0.5rem;
	padding: 1.5rem;
}

.numBarItem {
	padding: 1.5rem;
	background-color: #00000009;
	width: 25%;
	text-align: center;
}

.chartContainer {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

#DountChart1 {
	width: 30%;
}

#ColumnChart1 {
	width: 70%;
}

/* history page */


.tableContainer table {
	width: 100%;
	height: 70vh;
	border-radius: 1rem;
}

.tableContainer td {
	padding: 1rem;
	background: #fff;
	text-align: left;
}

.tableContainer thead td {
	padding: 1rem;
	background:  var(--color-theme);
	text-align: left;
	color: #fff;
}



/* settingPage */

/* event type list */
.accordion-body {
	display: flex;
	flex-flow: row wrap;
}
.accordion-item {
	border: 1px solid #e9e9e9;
}

.EventProtal {
	width: 8.5rem;
	height: 8.5rem;
	padding: 1rem;
	border-radius: 0.3rem;
	font-size: 1.2rem;
	text-align: center;
	margin: 0.5rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 700;
}

.EventProtalActive {
	width: 8.5rem;
	height: 8.5rem;
	padding: 1rem;
	border-radius: 0.3rem;
	font-size: 1.2rem;
	text-align: center;
	margin: 0.5rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 700;
	border:  var(--color-theme) .5rem solid;
}

/* 入口背景 */

.WeddingProtal {
	background: var(--img-wedding-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.WeddingProtal:hover {
	background: var(--img-wedding-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.SportGameProtal {
	background: var(--img-SportGame-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.SportGameProtal:hover {
	background: var(--img-SportGame-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.ConferenceProtal {
	background: var(--img-Conference-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.ConferenceProtal:hover {
	background: var(--img-Conference-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.StudentRegistrationProtal {
	background: var(--img-StudentRegistration-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.StudentRegistrationProtal:hover {
	background: var(--img-StudentRegistration-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.HomeVisitProtal {
	background: var(--img-HomeVisit-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.HomeVisitProtal:hover {
	background: var(--img-HomeVisit-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.EventCoordinationProtal {
	background: var(--img-EventCoordinationProtal-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}
.EventCoordinationProtal:hover {
	background: var(--img-EventCoordinationProtal-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.Protal06 {
	background: var(--img-Babysitting-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}
.Protal06:hover {
	background: var(--img-Babysitting-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.Protal07 {
	background: var(--img-PerformanceReview-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}
.Protal07:hover {
	background: var(--img-PerformanceReview-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.Protal08 {
	background: var(--img-HomeVisit-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}
.Protal08:hover {
	background: var(--img-HomeVisit-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.Protal09 {
	background: var(--img-HomeVisit-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal09:hover {
	background: var(--img-HomeVisit-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal10 {
	background: var(--img-HomeVisit-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal10:hover {
	background: var(--img-HomeVisit-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal11 {
	background: var(--img-HomeVisit-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal11:hover {
	background: var(--img-HomeVisit-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal12 {
	background: var(--img-ClientsMeeting-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal12:hover {
	background: var(--img-ClientsMeeting-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal13 {
	background: var(--img-Interview-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal13:hover {
	background: var(--img-Interview-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal14 {
	background: var(--img-MedicalAndPatient-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal14:hover {
	background: var(--img-MedicalAndPatient-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal15 {
	background: var(--img-StoreAppointment-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal15:hover {
	background: var(--img-StoreAppointment-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal16 {
	background: var(--img-PersonalTrainer-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal16:hover {
	background: var(--img-PersonalTrainer-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal17 {
	background: var(--img-RealEstate-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal17:hover {
	background: var(--img-RealEstate-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal18 {
	background: var(--img-TutoringScheduling-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal18:hover {
	background: var(--img-TutoringScheduling-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal19 {
	background: var(--img-AcademicAdvisorsAndTutors-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal19:hover {
	background: var(--img-AcademicAdvisorsAndTutors-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal20 {
	background: var(--img-GovernmentAgency-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal20:hover {
	background: var(--img-GovernmentAgency-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}
.Protal21 {
	background: var(--img-HomeVisit-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.Protal21:hover {
	background: var(--img-HomeVisit-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}



.steps {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: center;

}

/* .stepItem {
    text-align: center;
} */
.accordion-body a img {
	width: 8rem;
	height: 8rem;
	background: #000000;
}

.stepItem,
.stepItemComplate {
	width: 10rem;
}

.stepItem p {
	margin: 0.7rem 0;
	max-width: 10rem;
	color: #00000070;
}

.stepItem div {
	background: #00000030;
	width: 2rem;
	height: 2rem;
	border-radius: 10rem;
	font-size: 1.3rem;
	line-height: 2rem;
	color: #fff;
	/* box-sizing: border-box; */
	margin: 0 auto;

}

.steps hr {
	margin-top: 16px;
	width: auto;
	min-width: 4rem;
	height: 1px;
	border-top: 2px solid #00000030;
	border-left: none;
	border-right: none;
	border-bottom: none;
}



.stepItemComplate p {
	margin: 0.7rem 0;
	max-width: 10rem;
	color: #000000;
}

.stepItemComplate div {
	background:  var(--color-theme);
	width: 2rem;
	height: 2rem;
	border-radius: 10rem;
	font-size: 1.3rem;
	line-height: 2rem;
	color: #fff;
	/* box-sizing: border-box; */
	margin: 0 auto;

}

.steps>.complate {
	/* border-color: ; */
	border-top: 2px solid  var(--color-theme);
	border-left: none;
	border-right: none;
	border-bottom: none;

}

.settingSection {
	text-align: left;
	max-width: 1000px;
	margin: 1rem auto 0;
	padding: 0.3rem;
	background: #fff;
	border-radius: 1rem;
	height: 35.8rem;
	overflow-y: auto;
	overflow-x: hidden;
}

.settingRow {
	margin: 1rem;
}

.settingRow b {
	display: block;
	margin-bottom: 1rem;
}

.settingRow svg {
	margin-right: 1rem;
}

.settingImgSelection {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

.settingImgSelection img {
	width: 6rem;
	height: 6rem;
	margin: 0.3rem;
	background: url(../img/infoPage.jpg) center no-repeat;
}

.settingImgSelection input {
	margin-left: 0.3rem;
}

.settingCustomizedItem {
	padding: 0.5rem;
	background-color: #00000005;
	border-radius: 0.5rem;
	margin: 0.5rem;
}

.settingCustomizedItem>svg {
	float: right;
}

.nextBtnGroup {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1000px;
	margin: 1rem auto;
}


.typeRecipientsList {
	width: 60%;
	background: #f9f9f9;
	border-radius: 0.5rem;

}

.typeRecipientsList svg {
	margin: 0;

}

.tableLastRow td {
	border-bottom: 0;
}

.typeRecipientsList td {
	padding: 0.5rem;
	border-bottom: #00000015 1px solid;
}

.typeRecipientsList thead td {
	color: #00000090;
	font-weight: 500;
	background: #00000005;
}

.typeRecipientsList input {
	width: 100%;
}

.btn svg {
	margin: 0;
}
.FieldArea {
	/* padding: 0.8rem; */
	
	background: #00000005;
	margin-bottom: 1px;
	border-bottom: 0.0625rem solid #ffffff70;
}
.FieldArea header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1px;
	background: #00000005;
	padding: 0.8rem;
	/* border-bottom: 0.0625rem solid #00000020; */
}
.FieldArea main {
	padding: 0.8rem;
}


.btnActive {
	background:  var(--color-theme);
	padding: 0.5rem 1rem;
	border: 0;
	color: #fff;
	border-radius: 0.4rem;
	width: 6rem;
}

.btnActiveOutline {
	background: #ffffff00;
	padding: 0.3rem 1rem;
	border: 1px solid  var(--color-theme);
	color:  var(--color-theme);
	border-radius: 0.4rem;
	width: auto;
}

.btnInactive {
	background:  var(--color-theme)30;
	padding: 0.5rem 1rem;
	border: 0;
	color: #fff;
	border-radius: 0.4rem;
	width: 6rem;
}

.sendBtnSetting {
	background:  var(--color-theme);
	padding: 0.5rem;
	border: 0;
	color: #fff;
	border-radius: 0.4rem;
	margin: 0;
	display: flex;
	justify-content: center;
}

Dialog {
	border: #D5D5D5 1px solid;
	border-radius: 0.5rem;
}

Dialog {
	border: #D5D5D5 1px solid;
	border-radius: 0.5rem;
}



/* Birthday page--------------------------------------------------------------------------------------------------------------------------------------------- */

/* info page */

.brithdayinfoPage {
	background: url(../img/birthday1.jpg) center no-repeat;
	background-size: 100% auto;
	height: 100vh;
}


/* Parent-Teacher Conferences page--------------------------------------------------------------------------------------------------------------------------- */
.conferencesinfoPage {
	background: url(../img/conferences1.jpg) top center no-repeat;
	background-size: 100% auto;
	height: 100vh;
}

.ConferencesResponsePage {
	background: #787b70 url(../img/conferences2.jpg) top center no-repeat;
	background-size: 100% auto;
	/* background-position: 20% 50%; */
}


/* Parent-Teacher Conferences page--------------------------------------------------------------------------------------------------------------------------- */
.SportsInfoPage {
	background: url(../img/EventPlanningAndCoordination_1.jpg) center no-repeat;
	background-size: 100% auto;
	height: 100vh;
}

.SportsResponsePage {
	background: #e4e5b8 url(../img/EventPlanningAndCoordination_2.jpg) no-repeat center 37%;
	background-size: 100% auto;
	/* background-position: 20% 50%; */
}



/* Event planning and coordination page */


