/* 通用 */
:root {
	--img-wedding-main: url(../img/infoPage.jpg);
	--img-SportGame-main: url(../img/pexels-pixabay-262524.jpg);
	--img-Conference-main: url(../img/pexels-luis-quintero-2774556.jpg);
	--img-HomeVisit-main: url(../img/pexels-rdne-stock-project-6647041.jpg);
	--img-StudentRegistration-main: url(../img/pexels-rdne-stock-project-8500309.jpg);

	--color-imgbg-light: #00000030;
	--color-imgbg-dark: #00000080;
}

html body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	text-align: center;
}

/* body {
	overflow:hidden;
} */

a {
	text-decoration: none;
}

.floatBtn {
	/* padding: 2erm; */
	border-radius: 10rem;
	margin-right: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;

}

.floatBtn svg {
	/* height: 2rem; */
	margin: 1rem;
}

.floatBtn:hover {
	background-color: #ffffff40;
}

.active {
	border: 1px #fff solid;
	background-color: #ffffff40;
}

.floatBtnGroup {
	position: fixed;
	top: 0;
	z-index: 10000;
	padding: 2rem;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

/* bootstrap style Reset */

:root {
	--bs-primary: #1AC3DE;
	--bs-btn-color: #1AC3DE;
	--bs-btn-border-color: #1AC3DE;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #1AC3DE;
	--bs-btn-hover-border-color: #1AC3DE;
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #1AC3DE;
	--bs-btn-active-border-color: #1AC3DE;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #1AC3DE;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #1AC3DE;
	--bs-gradient: none;
	--bs-accordion-active-bg: #cfffff !important;
}

.accordion-button:not(.collapsed) {
	color: #00000099;
	background-color: #c0ecec !important;
	box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.btn-outline-primary {
	--bs-btn-color: #1AC3DE;
	--bs-btn-border-color: #1AC3DE;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #1AC3DE;
	--bs-btn-hover-border-color: #1AC3DE;
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #1AC3DE;
	--bs-btn-active-border-color: #1AC3DE;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #1AC3DE;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #1AC3DE;
	--bs-gradient: none;
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: #1AC3DE;
	--bs-btn-border-color: #1AC3DE;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #17b8d0;
	--bs-btn-hover-border-color: #17b8d0;
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #17b8d0;
	--bs-btn-active-border-color: #17b8d0;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #1AC3DE;
	--bs-btn-disabled-border-color: #1AC3DE;
}

.form-check-input:checked {
	background-color: #1AC3DE !important;
	border-color: #1AC3DE !important;
}

.custom-tooltip {
	--bs-tooltip-bg: var(--bs-primary);
}

/* wedding page--------------------------------------------------------------------------------------------------------------------------------------------- */

/* info page */
.infoPage {
	background: url(../img/infoPage.jpg) center no-repeat;
	background-size: 100% auto;
	height: 100vh;
}

.contentArea {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
	color: #fff;

}

.bottom {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 7rem 10rem;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}

.bottom p {
	margin: 0.5rem;
}

/* response page */
.responsePage {
	background: url(../img/responsePage.jpg) no-repeat center 37%;
	background-size: 100% auto;
	/* background-position: 20% 50%; */
}

#RecipientResponse {
	position: relative;
	top: 28rem;
	padding: 2rem;
	background: #997f2280;
	max-width: 800px;
	margin: 0 auto;
	border-radius: 1rem;
	color: #fff;
	/* text-align: left; */
	/* font-size: 2rem; */
	backdrop-filter: blur(10px);
}

#RecipientResponse>div {
	text-align: left;
}

#RecipientResponse>div>div {
	margin: 1.5rem 0;
}

.formTitle {
	font-size: 2rem;
	margin: 0 0 1.5rem;
	font-weight: 600;
}

hr {
	margin: 0.5rem 0;
}

.sendBtn {
	background: #fff;
	border: 0;
	padding: 0.7rem 1.4rem;
	font-size: 1.2rem;
	border-radius: 0.2rem;
	margin-top: 1.5rem;
	text-decoration: none;
}

.sendBtn:hover {
	background: #f5f5f5;
}

.sendBtn:visited {
	color: black;
}


/* data page */
.dataPage,
.settingPage,
.historyPage {
	background: #288e9e30;
}

#dashboard1 {
	text-align: left;
}

.numBar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 0.8rem;
	max-width: 1140px;
	margin: 0 auto 0.5rem;
	padding: 1.5rem;
}

.numBarItem {
	padding: 1.5rem;
	background-color: #00000009;
	width: 25%;
	text-align: center;
}

.chartContainer {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

#DountChart1 {
	width: 30%;
}

#ColumnChart1 {
	width: 70%;
}

/* history page */

.tableContainer {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 150px;
}

.tableContainer table {
	width: 100%;
	height: 70vh;
	border-radius: 1rem;
}

.tableContainer td {
	padding: 1rem;
	background: #fff;
	text-align: left;
}

.tableContainer thead td {
	padding: 1rem;
	background: #1AC3DE;
	text-align: left;
	color: #fff;
}



/* settingPage */

/* event type list */
.accordion-body {
	display: flex;
	flex-flow: row wrap;
}

.EventProtal {
	width: 8.5rem;
	height: 8.5rem;
	padding: 1rem;
	border-radius: 0.3rem;
	font-size: 1.2rem;
	text-align: center;
	margin: 0.5rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 700;
}
.EventProtalActive {
	width: 8.5rem;
	height: 8.5rem;
	padding: 1rem;
	border-radius: 0.3rem;
	font-size: 1.2rem;
	text-align: center;
	margin: 0.5rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 700;
	border: #1AC3DE .5rem solid;
}

.WeddingProtal {
	background: var(--img-wedding-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.WeddingProtal:hover {
	background: var(--img-wedding-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.SportGameProtal {
	background: var(--img-SportGame-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.SportGameProtal:hover {
	background: var(--img-SportGame-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.ConferenceProtal {
	background: var(--img-Conference-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.ConferenceProtal:hover {
	background: var(--img-Conference-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.StudentRegistrationProtal {
	background: var(--img-StudentRegistration-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.StudentRegistrationProtal:hover {
	background: var(--img-StudentRegistration-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}

.HomeVisitProtal {
	background: var(--img-HomeVisit-main) var(--color-imgbg-light) center no-repeat;
	background-size: auto 100%;
	background-blend-mode: darken;
}

.HomeVisitProtal:hover {
	background: var(--img-HomeVisit-main) var(--color-imgbg-dark) center no-repeat;
	background-size: auto 100%;
}



.steps {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: center;

}

/* .stepItem {
    text-align: center;
} */
.accordion-body a img {
	width: 8rem;
	height: 8rem;
	background: #000000;
}

.stepItem,
.stepItemComplate {
	width: 10rem;
}

.stepItem p {
	margin: 0.7rem 0;
	max-width: 10rem;
	color: #00000070;
}

.stepItem div {
	background: #00000030;
	width: 2rem;
	height: 2rem;
	border-radius: 10rem;
	font-size: 1.3rem;
	line-height: 2rem;
	color: #fff;
	/* box-sizing: border-box; */
	margin: 0 auto;

}

.steps hr {
	margin-top: 16px;
	width: auto;
	min-width: 4rem;
	height: 1px;
	border-top: 2px solid #00000030;
	border-left: none;
	border-right: none;
	border-bottom: none;
}



.stepItemComplate p {
	margin: 0.7rem 0;
	max-width: 10rem;
	color: #000000;
}

.stepItemComplate div {
	background: #1AC3DE;
	width: 2rem;
	height: 2rem;
	border-radius: 10rem;
	font-size: 1.3rem;
	line-height: 2rem;
	color: #fff;
	/* box-sizing: border-box; */
	margin: 0 auto;

}

.steps>.complate {
	/* border-color: ; */
	border-top: 2px solid #1AC3DE;
	border-left: none;
	border-right: none;
	border-bottom: none;

}

.settingSection {
	text-align: left;
	max-width: 1000px;
	margin: 2rem auto 0;
	padding: 0.3rem;
	background: #fff;
	border-radius: 1rem;
}

.settingRow {
	margin: 1rem;
}

.settingRow b {
	display: block;
	margin-bottom: 1rem;
}

.settingRow svg {
	margin-right: 1rem;
}

.settingImgSelection {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

.settingImgSelection img {
	width: 6rem;
	height: 6rem;
	margin: 0.3rem;
	background: url(../img/infoPage.jpg) center no-repeat;
}

.settingImgSelection input {
	margin-left: 0.3rem;
}

.settingCustomizedItem {
	padding: 0.5rem;
	background-color: #00000005;
	border-radius: 0.5rem;
	margin: 0.5rem;
}

.nextBtnGroup {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1000px;
	margin: 1rem auto;
}


.typeRecipientsList {
	width: 60%;
	background: #f9f9f9;
	border-radius: 0.5rem;

}

.typeRecipientsList svg {
	margin: 0;

}

.tableLastRow td {
	border-bottom: 0;
}

.typeRecipientsList td {
	padding: 0.5rem;
	border-bottom: #00000015 1px solid;
}

.typeRecipientsList thead td {
	color: #00000090;
	font-weight: 500;
	background: #00000005;
}

.typeRecipientsList input {
	width: 100%;
}





.btnActive {
	background: #1AC3DE;
	padding: 0.5rem 1rem;
	border: 0;
	color: #fff;
	border-radius: 0.4rem;
	width: 6rem;
}

.btnActiveOutline {
	background: #ffffff00;
	padding: 0.3rem 1rem;
	border: 1px solid #1AC3DE;
	color: #1AC3DE;
	border-radius: 0.4rem;
	width: auto;
}

.btnInactive {
	background: #1AC3DE30;
	padding: 0.5rem 1rem;
	border: 0;
	color: #fff;
	border-radius: 0.4rem;
	width: 6rem;
}

.sendBtnSetting {
	background: #1AC3DE;
	padding: 0.5rem;
	border: 0;
	color: #fff;
	border-radius: 0.4rem;
	margin: 0;
	display: flex;
	justify-content: center;
}

Dialog {
	border: #D5D5D5 1px solid;
	border-radius: 0.5rem;
}

Dialog {
	border: #D5D5D5 1px solid;
	border-radius: 0.5rem;
}



/* Birthday page--------------------------------------------------------------------------------------------------------------------------------------------- */

/* info page */

.brithdayinfoPage {
	background: url(../img/birthday1.jpg) center no-repeat;
	background-size: 100% auto;
	height: 100vh;
}


/* Parent-Teacher Conferences page--------------------------------------------------------------------------------------------------------------------------- */
.conferencesinfoPage {
	background: url(../img/conferences1.jpg) center no-repeat;
	background-size: 100% auto;
	height: 100vh;
}

.ConferencesResponsePage {
	background: #787b70 url(../img/conferences2.jpg) no-repeat center 37%;
	background-size: 100% auto;
	/* background-position: 20% 50%; */
}


/* Parent-Teacher Conferences page--------------------------------------------------------------------------------------------------------------------------- */
.SportsInfoPage {
	background: url(../img/pexels-pixabay-262524.jpg) center no-repeat;
	background-size: 100% auto;
	height: 100vh;
}
.SportsResponsePage {
	background: #e4e5b8 url(../img/pexels-kawê-rodrigues-15686444.jpg) no-repeat center 37%;
	background-size: 100% auto;
	/* background-position: 20% 50%; */
}