/* 全局变量 */
:root {
    --bs-primary: #00A7EF;
    --bs-blue: #00A7EF;
    --color-theme: #00A7EF;
    --color-theme-bg-light: #00A7EF15;
    --color-theme-hover: #0072a2;
    --color-theme-hover2: rgb(0, 145, 207);
    --color-grayB0: #000000b0;
    --color-gray70: #00000070;
    --color-gray10: #00000010;
    --color-gray05: #00000009;
    --color-white100: #fff;
    --color-white80: #ffffffe0;
    --color-green: #6CC74C;
    --item-radius-medium: 0.4rem;

}

/* 变量嵌套 */
:root {
    --color-text-defult: var(--color-grayB0);
    --color-text-ondark-defult: var(--color-white100);
    --color-text-theme: var(--color-theme);

    --color-section-bg-theme: var(--color-theme);
    --color-section-bg-defult: var(--color-white100);
    --color-section-bg-light10: var(--color-gray05);

    --color-btn-onlight-solid-bg: var(--color-theme);
    --color-btn-onlight-solid-content: var(--color-white100);
    --color-btn-ondark-solid-bg: var(--color-white100);
    --color-btn-ondark-solid-bg-hover: var(--color-white80);
    --color-btn-ondark-solid-content: var(--color-theme);
    --color-btn-onlight-outline: var(--color-theme);
    --color-btn-onlight-outline-hover: var(--color-theme-hover);
    --color-btn-active-bg: var(--color-theme-bg-light);
}

body,
html {
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
    background: var(--color-section-bg-defult);
    color: var(--color-text-defult);
}

/* .btn-size-defult  {
    margin: 1rem;
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
    border-radius: 0.3rem;
} */
.btn-primary {
    color: var(--color-text-ondark-defult);
    background-color: var(--color-btn-onlight-outline);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--color-theme-hover2);
}

.btn-light {
    border: 0;
    background-color: var(--color-btn-ondark-solid-bg);
    color: var(--color-text-defult);
}

.btn-light:hover {
    /* background: var(--color-btn-ondark-solid-bg-hover); */
    color: var(--color-btn-ondark-solid-content);
}

.tab-light {
    border: 0;
    background-color: var(--color-btn-ondark-solid-bg);
    color: var(--color-text-defult);
    text-align: left;
}

.tab-light svg {
    width: 1.5rem;
}

.tab-light svg circle {
    fill: var(--color-text-defult);
}

.tab-light:hover {
    background: var(--color-btn-active-bg);
    color: var(--color-btn-ondark-solid-content);
}

.active {
    background: var(--color-btn-active-bg);
    color: var(--color-btn-ondark-solid-content);
}

.active svg circle {
    fill: var(--color-text-theme);
}


.btn-solid-onlight {
    border: 0;
    background-color: var(--color-btn-onlight-solid-bg);
    color: #FFFFFF;

}


.btn-outline-primary {
    color: var(--color-btn-onlight-outline);
    border-color: var(--color-btn-onlight-outline);
}

.btn-outline-primary svg path {
    fill: var(--color-btn-onlight-outline);
}

.btn-outline-primary:hover {
    background-color: var(--bs-blue);
    color: var(--color-text-ondark-defult);
}

.btn-outline-primary:hover svg path {
    fill: var(--color-text-ondark-defult);
}



h1 {
    margin-bottom: 0.8em;
}

.intro-section {
    padding: 3rem 10%;
    text-align: center;

}

.intro-header {
    background-color: var(--color-section-bg-theme);
    color: var(--color-text-ondark-defult);
}

.intro-header h1,
h4 {
    font-weight: 600;
}

.intro-header h1 {
    margin-bottom: 0.15em;
}

.intro-header h4 {
    margin-bottom: 1.5rem;
}

.essential>div {
    margin: 0.8rem;
    padding: 1rem;
    background: var(--color-section-bg-light10);
    border-radius: var(--item-radius-medium);
    text-align: left;
}

.essential>div>div {
    padding: 0.4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

}

.essential>div>div svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}


.company-video-box {
    /* width: 70%; */
    /* height: 720px; */
    margin: 1rem auto 2rem;
}

.company-video h5 {
    margin-bottom: 1rem;
}

.experience-flow-title {
    padding: 1rem 0 2rem;
}

.experience-flow-title h1 {
    margin-bottom: 0.15rem;
}

.experience-flow-title button {
    margin-top: 1rem;
}

.experience-flow-tab {
    /* width: 80%; */
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--color-section-bg-light10);
}

.nav-tabs {
    width: 30%;
}

.tab-content {
    width: 70%;
    background: #00A7EF;
}

.tab-pane {
    font-size: 100px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}

.more-feature {
    margin: 2rem;
}

.more-feature ul {
    text-align: left;
    width: 20rem;
    margin: 1rem auto;
}


.feature-list {
    /* max-width: 80%; */
    margin: 0 auto;
    background-color: var(--color-btn-active-bg);
}

.feature-list-item {
    border-radius: var(--item-radius-medium);
    background-color: var(--color-section-bg-defult);
    padding: 1rem;
    margin: 1rem;
}

.feature-list-item-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
}
.feature-list-item-title>div {
    text-align: left;
}
.feature-list-item-title svg {
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
}

.footer {
    background-color: var(--color-section-bg-theme);
    color: var(--color-text-ondark-defult);
}
@media only screen and (max-width:996px) and (min-width: 540px) {
    .intro-section {
        padding: 5rem auto;
    }
}