.stepsAndNav {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 0;
}

.stepsAndNav .btn-outline-primary {
	padding: 0;
	border: 0;
	display: flex;
	align-items: center;
}

.stepsAndNav .btn-outline-primary .bi {
	font-size: 1.5rem;
}

.stepsAndNav .btn-outline-primary:first-child .bi {
	margin-right: 0.6rem;
}
.stepsAndNav .btn-outline-primary:last-child .bi {
	margin-left: 0.6rem;
}

.stepsAndNav .btn-outline-primary:hover {
	background: none;
	color: var(--color-theme);
}

/* 步骤条 */
.stepContainer {
	background: #d6e9ec;
	/* padding-top: 2rem; */
	/* padding-bottom: 1rem; */
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.steps {

	margin: 0 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.stepItem {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 0.5rem;
}
.stepItem:first-child {
	margin-left: 0;
}
.stepItem:last-child {
	margin-right: 0;
}

.stepItem p {
	margin: 0;
	color: #00000070;
	text-align: left;
}

.stepItem div {
	background: #00000030;
	width: 1.7rem;
	height: 1.7rem;
	border-radius: 10rem;
	font-size: 1.2rem;
	line-height: 1.7rem;
	color: #fff;
	margin-right: 0.5rem;
}

.steps hr {
	flex: 1;
	height: 1px;
	border-top: 2px solid #00000030;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.stepItem.active p {
	color: #000000;
}

.stepItem.active div {
	background: var(--color-theme);
}

.steps hr.active {
	border-top: 3px solid var(--color-theme);
}